@model IEnumerable<ProjectSEM3.EF.Producer>


<ul id="collapsed-menu">
    <li class="level0 nav-1 first parent active">
        <label class="tree-toggler nav-header closed"> <a href="#">BOOKS</a><span class="collapse_button">+</span><span class="collapse_button">+</span></label>
        <ul class="nav nav-list tree">
            @foreach (var item in Model)
            {
                <li class="level1 nav-1-1 active first parent">
                    <label class="tree-toggler nav-header closed"> <a href="/books/@item.MetaTitle-@item.ID">@item.Name</a><span class="collapse_button">+</span></label>
                </li>
            }

        </ul>
    </li>

    
</ul>